tensorboard>=2.4.1
scipy==1.5.4
scikit-image
torchvision
python-bidi
pyyaml
python-multipart
fastapi==0.63.0
uvicorn[standard]
python-stdnum
similarity
strsim
git+git://github.com/seeing-things/python-v4l2.git